@model ConGest.Models.JourBloque
@{
    ViewData["Title"] = "Supprimer un jour bloqué";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Supprimer un jour bloqué</h1>

<h3>Êtes-vous sûr de vouloir supprimer ceci ?</h3>
<div>
    <h4>JourBloque</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateBloquee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateBloquee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raison)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raison)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurBloqueur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurBloqueur)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="JoursBloques" asp-controller="Admin">Retour à la liste</a>
    </form>
</div>