@model ConGest.Models.DemandeConge

@{
    ViewData["Title"] = "Supprimer une demande de congé";
}

<h1>Supprimer une demande de congé</h1>

<h3>Êtes-vous sûr de vouloir supprimer ceci ?</h3>
<div>
    <h4>DemandeConge</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Collaborateur
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collaborateur.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class="col-sm-2">
            Nombre de jours
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreDeJours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="DemandesConge" asp-controller="Admin">Retour à la liste</a>
    </form>
</div>