@model ConGest.Models.Collaborateur

@{
    ViewData["Title"] = "Détails du collaborateur";
}

<h1>Détails du collaborateur</h1>

<div>
    <h4>Collaborateur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class="col-sm-10">
            <span style="display: inline-block; width: 20px; height: 20px; background-color: @Model.Couleur;"></span>
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fonction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fonction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstActif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstActif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>